@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

.App {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px 0 5px;
  text-align: center;
}
